body {
   background: rgb(219, 215, 215);
}
.select {
   position: relative;
   width: 180px;
}

.select__toggle {
   display: flex;
   background: #e4f2e9;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   width: 100%;
   padding: 4px 10px 4px 8px;
   user-select: none;
   justify-content: space-between;
}

.select__toggle::after {
   content: "";
   width: 16px;
   height: 15px;
   background: url(./img/select-arrow.png) no-repeat;
   background-size: 14px 7px;
   background-position: center 5px;
}

.select__toggle:focus {
   outline: none;
}

.select_show .select__toggle::after {
   transform: rotate(180deg);
}

.select__dropdown {
   display: none;
   position: absolute;
   left: 0;
   right: 0;
   overflow-y: auto;
   z-index: 2;
   background-color: #fff;
}

.select_show .select__dropdown {
   display: block;
}

.select_show .select__backdrop {
   display: block;
}

.select__options {
   margin: 0;
   padding: 0;
   list-style: none;
}

.select__option {
   padding: 8px 20px;
}

.select__option_selected {
   background: #E4F2E9;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.select__option_selected::after {
   content: "";
   width: 0.75rem;
   height: 0.75rem;
   color: #0277bd;
   background-size: cover;
   background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-inline--fa fa-check fa-w-16" data-icon="check" data-prefix="fas" aria-hidden="true"%3E%3Cpath d="M33.964 85.547l-32.5-32.251a4.935 4.935 0 010-7.017l7.071-7.017a5.027 5.027 0 017.071 0L37.5 60.987l46.894-46.534a5.028 5.028 0 017.07 0l7.072 7.017a4.935 4.935 0 010 7.017l-57.5 57.06a5.027 5.027 0 01-7.072 0z" fill="%230277bd"/%3E%3C/svg%3E');
}

.select__option:hover {
   color: #41a664;
   cursor: pointer;
   transition: 0.2s background-color ease-in-out;
}
